<?xml version="1.0" encoding="UTF-8" ?>
<widget id="exoticosvip.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Exoticos VIP</name>
  <description>
      Solo Exoticos
  </description>
  <author href="https://mediapp.com" email="v.ugoochoa.s@gmail.com">
      Mediapp, Desarrollo Creativo S.A. de C.V.
  </author>
</widget>
